/* ====================== font ====================== */
@font-face {
    font-family: 'GE Dinar One';
    src: url('../font/alfont_com_GE-Dinar-One-Regular.otf') format('opentype');
}

body {
    font-family: 'GE Dinar One', sans-serif;
}

/* ====================== end font ====================== */



/* ====================== Custom ====================== */

input:focus {
    outline: none !important;
    box-shadow: none !important;
    --tw-ring-inset: unset;
    --tw-ring-offset-width: 0;
    --tw-ring-offset-color: transparent;
    --tw-ring-color: transparent;
    --tw-ring-offset-shadow: unset;
    --tw-ring-shadow: unset;
    border-color:black !important;

}
#loader {
    display: none;
}
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      

/* ====================== end custom ====================== */











/* ====================== login pages ====================== */

.right {
    width: 100% !important;
    padding: 0 30px !important;
    max-width: 30rem !important;
}

.w-right {
    width: 420.647px !important;
}

.socialest-phone {
    display: none !important;
}

/* ====================== end login ====================== */


/* ====================== media queries ====================== */
@media (max-width: 768px) {}

@media (max-width: 576px) {}

@media (max-width: 990px) {
    .left {
        display: none !important;
    }
    .right
    {
        padding: 10px !important;
    }

    .right,
    .w-right {
        width: 100% !important;
    }

    .socialest-phone {
        display: flex !important;
    }
    .socialest-desk {
        display: none !important;
    }
}

/* ====================== end media queries ====================== */